In [1]:
import re

In [2]:
with open('./Dump20200110.sql', mode='r', encoding='utf-8') as f:
    txt = f.read()

In [71]:
{'databases':[{'name':'db1', 'tables':[{'name':'tb11'}]}, {'name':'db2', 'tables':[{'name':'tb21'}]}]}

{'databases': [{'name': 'db1', 'tables': [{'name': 'tb11'}]},
  {'name': 'db2', 'tables': [{'name': 'tb21'}]}]}

In [101]:
print(sql_create_tables)

 /*!40100 DEFAULT CHARACTER SET utf8 */;

USE `gps`;

--
-- Table structure for table `atividade`
--

DROP TABLE IF EXISTS `atividade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividade` (
  `PK_ATIV` int(11) NOT NULL AUTO_INCREMENT,
  `ATIV_DT_CADASTRO` date NOT NULL,
  `ATIV_IN_PESO` int(1) NOT NULL,
  `ATIV_IN_ORDEM` int(2) NOT NULL,
  `ATIV_DT_INICIO` date DEFAULT NULL,
  `ATIV_DT_FIM` date DEFAULT NULL,
  `ATIV_TX_NOME` varchar(100) NOT NULL,
  `ATIV_TX_DESCRICAO` varchar(250) DEFAULT NULL,
  `FK_ATIV_PROJ` int(11) NOT NULL,
  `FK_ATIV_USUA` int(11) NOT NULL,
  PRIMARY KEY (`PK_ATIV`),
  KEY `FK_ATIV_PROJ` (`FK_ATIV_PROJ`),
  CONSTRAINT `atividade_ibfk_2` FOREIGN KEY (`FK_ATIV_PROJ`) REFERENCES `projeto` (`PK_PROJ`) ON DELETE CASCADE ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=289 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `atividade_dias`
--

DROP TABLE IF EXISTS `atividade_dias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atividade_dias` (
  `PK_ATDI` int(11) NOT NULL AUTO_INCREMENT,
  `ATDI_DT_INICIO` date NOT NULL,
  `ATDI_TX_COMENTARIO` varchar(400) NOT NULL,
  `FK_ATDI_ATIV` int(11) NOT NULL,
  PRIMARY KEY (`PK_ATDI`),
  KEY `FK_ATDI_ATIV` (`FK_ATDI_ATIV`),
  CONSTRAINT `atividade_dias_ibfk_2` FOREIGN KEY (`FK_ATDI_ATIV`) REFERENCES `atividade` (`PK_ATIV`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=648 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `produto`
--

DROP TABLE IF EXISTS `produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto` (
  `PK_PROD` int(11) NOT NULL AUTO_INCREMENT,
  `PROD_DT_CADASTRO` date NOT NULL,
  `PROD_DT_INICIO` date DEFAULT NULL,
  `PROD_DT_FIM` date DEFAULT NULL,
  `PROD_TX_NOME` varchar(100) NOT NULL,
  `PROD_TX_DESCRICAO` varchar(250) DEFAULT NULL,
  `FK_PROD_USUA_RESPONSAVEL` int(11) DEFAULT NULL,
  `FK_PROD_USER_SOLICITANTE` int(11) NOT NULL,
  PRIMARY KEY (`PK_PROD`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `projeto`
--

DROP TABLE IF EXISTS `projeto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projeto` (
  `PK_PROJ` int(11) NOT NULL AUTO_INCREMENT,
  `PROJ_DT_CADASTRO` date NOT NULL,
  `PROJ_DT_INICIO` date DEFAULT NULL,
  `PROJ_DT_FIM` date DEFAULT NULL,
  `PROJ_DT_ULTIMA_ATUALIZACAO` date DEFAULT NULL,
  `PROJ_TX_NOME` varchar(100) NOT NULL,
  `PROJ_TX_DESCRICAO` varchar(250) DEFAULT NULL,
  `PROJ_IN_PRIORIDADE` int(1) NOT NULL,
  `PROJ_IN_TIPO` varchar(3) NOT NULL,
  `FK_PROJ_USER_SOLICITANTE` int(11) NOT NULL,
  `FK_PROJ_PROD` int(11) NOT NULL,
  `FK_PROJ_USUA_RESPONSAVEL` int(11) DEFAULT NULL,
  PRIMARY KEY (`PK_PROJ`),
  KEY `FK_PROJ_PROD` (`FK_PROJ_PROD`),
  CONSTRAINT `projeto_ibfk_4` FOREIGN KEY (`FK_PROJ_PROD`) REFERENCES `produto` (`PK_PROD`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `PK_USUA` int(11) NOT NULL AUTO_INCREMENT,
  `FK_USUA_USER` int(11) NOT NULL,
  `USUA_IN_ACESSO` int(1) NOT NULL,
  PRIMARY KEY (`PK_USUA`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-01-10 22:18:15

In [109]:
sql

In [115]:
mysql = {'databases':[]}
schemas_re = list(re.finditer(r'CREATE DATABASE.+`(.+)`', txt, re.MULTILINE))
#txt[schemas_re[0].end():]
for i in range(len(schemas_re)):
    database_name = schemas_re[i].groups()[0]
    database = {'name':database_name, 'tables':[]}
    start_sql_db = schemas_re[i].end()
    j = i+1
    if j != len(schemas_re): 
        end_sql_db = schemas_re[j].end()
    else:
        end_sql_db = len(txt)
    sql_create_tables = txt[start_sql_db:end_sql_db]
    
    tables_re = list(re.finditer(r'CREATE TABLE.+`(.+)`', sql_create_tables, re.MULTILINE))
    for k in range(len(tables_re)):
        table_name = tables_re[k].groups()[0]
        table = {'name':table_name}
        start_sql_table = schemas_re[i].end()
        l = k+1
        if l != len(tables_re): 
            end_sql_table = tables_re[l].end()
        else:
            end_sql_table = len(txt)
        sql_columns = sql_create_tables[start_sql_table:end_sql_table]

        columns_re = list(re.finditer(r'CREATE TABLE.+`(.+)`', sql_create_tables, re.MULTILINE))
        for k in range(len(tables_re)):
            table_name = tables_re[k].groups()[0]
            table = {'name':table_name}
            start_sql_table = schemas_re[k].end()
            l = k+1
            if l != len(tables_re): 
                end_sql_table = tables_re[l].end()
            else:
                end_sql_table = len(txt)
            sql_columns = sql_create_tables[start_sql_table:end_sql_table]

            database['tables'].append(table)
        print(sql_columns)
        break

    mysql['databases'].append(database)
#mysql

IndexError: list index out of range

In [114]:
start_sql_table:end_sql_table

In [116]:
sql_create_tables

' /*!40100 DEFAULT CHARACTER SET utf8 */;\n\nUSE `safs`;\n\n--\n-- Table structure for table `acompanhamento`\n--\n\nDROP TABLE IF EXISTS `acompanhamento`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `acompanhamento` (\n  `acom_sq_acompanhamento` int(11) NOT NULL AUTO_INCREMENT COMMENT \'PK acompanhamento\',\n  `acom_tx_nome` varchar(255) NOT NULL DEFAULT \'0\' COMMENT \'Descrição do check\',\n  `acom_nm_posicao` tinyint(1) NOT NULL DEFAULT \'0\' COMMENT \'Campo para armazenar a posição do acompanhamento.\',\n  `acom_cd_status` tinyint(1) NOT NULL DEFAULT \'1\' COMMENT \'Status do acompanhamento\',\n  `tiac_sq_tipo_acompanhamento` int(11) NOT NULL DEFAULT \'0\' COMMENT \'FK de tipo acompanhamento\',\n  PRIMARY KEY (`acom_sq_acompanhamento`),\n  KEY `FK_acompanhamento_tipo_acompanhamento` (`tiac_sq_tipo_acompanhamento`),\n  CONSTRAINT `FK_acompanhamento_tipo_acompanhamento` FOREIGN KEY (`tiac_sq_tipo_acompanhamento`) REFERENCES `tipo_acompanhamento` (`tiac_sq_tipo_acompanhamento`)\n) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8 COMMENT=\'Tabela responsável por armazenar o checklist de acompanhamento padrão, conforme o tipo de acompanhamento a ser usado em um simulado de emergência.\';\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `acompanhamento_resposta`\n--\n\nDROP TABLE IF EXISTS `acompanhamento_resposta`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `acompanhamento_resposta` (\n  `acre_sq_acompanhamento_resposta` int(11) NOT NULL AUTO_INCREMENT COMMENT \'PK acompanhamento_resposta\',\n  `acom_sq_acompanhamento` int(11) NOT NULL DEFAULT \'0\' COMMENT \'FK acompanhamento\',\n  `acre_cd_resposta` int(11) NOT NULL DEFAULT \'1\' COMMENT \'Código da resposta: 1 = C / -1 = NC / 0 = NA\',\n  `siem_sq_simulado_emergencia` int(11) NOT NULL DEFAULT \'1\' COMMENT \'FK Simulado de emergencia\',\n  PRIMARY KEY (`acre_sq_acompanhamento_resposta`),\n  KEY `FK_acompanhamento_resposta_acompanhamento` (`acom_sq_acompanhamento`),\n  KEY `FK_acompanhamento_resposta_simulado_emergencia` (`siem_sq_simulado_emergencia`),\n  CONSTRAINT `FK_acompanhamento_resposta_acompanhamento` FOREIGN KEY (`acom_sq_acompanhamento`) REFERENCES `acompanhamento` (`acom_sq_acompanhamento`),\n  CONSTRAINT `FK_acompanhamento_resposta_simulado_emergencia` FOREIGN KEY (`siem_sq_simulado_emergencia`) REFERENCES `simulado_emergencia` (`siem_sq_simulado_emergencia`)\n) ENGINE=InnoDB AUTO_INCREMENT=3036 DEFAULT CHARSET=utf8 COMMENT=\'Tabela responsável por armazenar as respostas dos simulados de emergências.\';\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `area`\n--\n\nDROP TABLE IF EXISTS `area`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `area` (\n  `AREA_SQ_AREA` int(11) NOT NULL AUTO_INCREMENT,\n  `AREA_TX_AREA` varchar(255) NOT NULL,\n  `AREA_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  PRIMARY KEY (`AREA_SQ_AREA`)\n) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `area_plano`\n--\n\nDROP TABLE IF EXISTS `area_plano`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `area_plano` (\n  `ARPL_SQ_AREA_PLANO` int(11) NOT NULL AUTO_INCREMENT,\n  `ARPL_TX_AREA_PLANO` varchar(255) NOT NULL,\n  `ARPL_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  PRIMARY KEY (`ARPL_SQ_AREA_PLANO`)\n) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `assunto_geral`\n--\n\nDROP TABLE IF EXISTS `assunto_geral`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `assunto_geral` (\n  `ASGE_SQ_ASSUNTO_GERAL` int(11) NOT NULL AUTO_INCREMENT COMMENT \'ID de assunto geral.\',\n  `ASGE_TX_COMENTARIO` text COMMENT \'Campo texto para armazenar comentário.\',\n  `ASGE_TX_ANEXO` varchar(255) DEFAULT NULL COMMENT \'Campo texto para armazenar link para o anexo.\',\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  PRIMARY KEY (`ASGE_SQ_ASSUNTO_GERAL`),\n  KEY `fk_assunto_geral_boletim_idx` (`BOLE_SQ_BOLETIM`),\n  CONSTRAINT `fk_assunto_geral_boletim` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE NO ACTION ON UPDATE NO ACTION\n) ENGINE=InnoDB AUTO_INCREMENT=1295 DEFAULT CHARSET=utf8 COMMENT=\'Tabela responsável por armazenar dados da aba "Assuntos Gerais" do boletim.\';\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `boletim`\n--\n\nDROP TABLE IF EXISTS `boletim`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `boletim` (\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL AUTO_INCREMENT,\n  `BOLE_DT_CADASTRO` date DEFAULT NULL,\n  `SOND_SQ_SONDA` int(11) NOT NULL,\n  `USER_SQ_USER` int(11) NOT NULL,\n  `BOLE_CD_STATUS` tinyint(1) NOT NULL DEFAULT \'1\' COMMENT \'1=EDIÇÃO;2=ENVIADO PARA APROVAÇÃO;3=APROVADO;4=EM REVISÃO;5=REVISÃO SOLICITADA\',\n  `USER_SQ_USER_APROVADOR` int(11) DEFAULT NULL,\n  PRIMARY KEY (`BOLE_SQ_BOLETIM`),\n  KEY `FK_BOLE_SOND` (`SOND_SQ_SONDA`),\n  KEY `FK_BOLE_USER` (`USER_SQ_USER`),\n  KEY `FK_BOLE_USER_APROV` (`USER_SQ_USER_APROVADOR`),\n  CONSTRAINT `FK_BOLE_SOND` FOREIGN KEY (`SOND_SQ_SONDA`) REFERENCES `canal_dados`.`sondas` (`idsonda`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_BOLE_USER` FOREIGN KEY (`USER_SQ_USER`) REFERENCES `user_safs` (`USER_SQ_USER`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_BOLE_USER_APROV` FOREIGN KEY (`USER_SQ_USER_APROVADOR`) REFERENCES `user_safs` (`USER_SQ_USER`) ON DELETE SET NULL ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=5913 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `boletim_checklist`\n--\n\nDROP TABLE IF EXISTS `boletim_checklist`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `boletim_checklist` (\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  `CHEC_SQ_CHECKLIST` int(11) NOT NULL,\n  `BOCH_CD_CHECK` tinyint(1) NOT NULL,\n  `BOCH_TX_COMENTARIO` text,\n  PRIMARY KEY (`BOLE_SQ_BOLETIM`,`CHEC_SQ_CHECKLIST`),\n  KEY `FK_BOCH_CHEC` (`CHEC_SQ_CHECKLIST`),\n  CONSTRAINT `FK_BOCH_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_BOCH_CHEC` FOREIGN KEY (`CHEC_SQ_CHECKLIST`) REFERENCES `checklist` (`CHEC_SQ_CHECKLIST`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `boletim_fiscal`\n--\n\nDROP TABLE IF EXISTS `boletim_fiscal`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `boletim_fiscal` (\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  `USER_SQ_USER` int(11) NOT NULL,\n  PRIMARY KEY (`BOLE_SQ_BOLETIM`,`USER_SQ_USER`),\n  KEY `FK_BOFI_USER` (`USER_SQ_USER`),\n  CONSTRAINT `FK_BOFI_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_BOFI_USER` FOREIGN KEY (`USER_SQ_USER`) REFERENCES `user_safs` (`USER_SQ_USER`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `boletim_log`\n--\n\nDROP TABLE IF EXISTS `boletim_log`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `boletim_log` (\n  `BOLO_SQ_BOLETIM_LOG` int(11) NOT NULL AUTO_INCREMENT,\n  `BOLO_DT_REGISTRO` datetime DEFAULT NULL,\n  `USER_SQ_USER` int(11) NOT NULL,\n  `BOLO_CD_STATUS` tinyint(1) NOT NULL COMMENT \'1=EDIÇÃO;2=ENVIADO APROVAÇÃO;3=APROVADO;4=EM REVISÃO;5=REVISÃO SOLICITADA\',\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  PRIMARY KEY (`BOLO_SQ_BOLETIM_LOG`),\n  KEY `FK_BOLO_USER` (`USER_SQ_USER`),\n  KEY `FK_BOLO_BOLE` (`BOLE_SQ_BOLETIM`),\n  CONSTRAINT `FK_BOLO_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_BOLO_USER` FOREIGN KEY (`USER_SQ_USER`) REFERENCES `user_safs` (`USER_SQ_USER`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `checklist`\n--\n\nDROP TABLE IF EXISTS `checklist`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `checklist` (\n  `CHEC_SQ_CHECKLIST` int(11) NOT NULL AUTO_INCREMENT,\n  `CHEC_NM_POSICAO` tinyint(1) DEFAULT NULL,\n  `CHEC_TX_ITEM` varchar(255) NOT NULL,\n  `CHEC_CD_STATUS` tinyint(1) DEFAULT NULL,\n  PRIMARY KEY (`CHEC_SQ_CHECKLIST`)\n) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `classe_desvio_gestao`\n--\n\nDROP TABLE IF EXISTS `classe_desvio_gestao`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `classe_desvio_gestao` (\n  `CLDG_SQ_CLASSE_DESVIO` int(11) NOT NULL AUTO_INCREMENT,\n  `CLDG_TX_CLASSE_DESVIO` varchar(255) NOT NULL,\n  `CLDG_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  PRIMARY KEY (`CLDG_SQ_CLASSE_DESVIO`)\n) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `desvio_gestao`\n--\n\nDROP TABLE IF EXISTS `desvio_gestao`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `desvio_gestao` (\n  `DEGE_SQ_DESVIO_GESTAO` int(11) NOT NULL AUTO_INCREMENT,\n  `AREA_SQ_AREA` int(11) NOT NULL,\n  `DEGE_TX_CLASSE` varchar(100) DEFAULT NULL,\n  `DEGE_TX_COMENTARIO` text,\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  `CLDG_SQ_CLASSE_DESVIO` int(11) DEFAULT NULL,\n  PRIMARY KEY (`DEGE_SQ_DESVIO_GESTAO`),\n  KEY `FK_DEGE_AREA` (`AREA_SQ_AREA`),\n  KEY `FK_DEGE_BOLE` (`BOLE_SQ_BOLETIM`),\n  KEY `fk_DEGE_CLDG` (`CLDG_SQ_CLASSE_DESVIO`),\n  CONSTRAINT `FK_DEGE_AREA` FOREIGN KEY (`AREA_SQ_AREA`) REFERENCES `area` (`AREA_SQ_AREA`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_DEGE_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `fk_DEGE_CLDG` FOREIGN KEY (`CLDG_SQ_CLASSE_DESVIO`) REFERENCES `classe_desvio_gestao` (`CLDG_SQ_CLASSE_DESVIO`) ON DELETE SET NULL ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=827 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `equipamento`\n--\n\nDROP TABLE IF EXISTS `equipamento`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `equipamento` (\n  `EQUI_SQ_EQUIPAMENTO` int(11) NOT NULL AUTO_INCREMENT,\n  `EQUI_TX_EQUIPAMENTO` varchar(255) NOT NULL,\n  `EQUI_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  `SIST_SQ_SISTEMA` int(11) NOT NULL,\n  PRIMARY KEY (`EQUI_SQ_EQUIPAMENTO`),\n  KEY `FK_EQUI_SIST` (`SIST_SQ_SISTEMA`),\n  CONSTRAINT `FK_EQUI_SIST` FOREIGN KEY (`SIST_SQ_SISTEMA`) REFERENCES `sistema` (`SIST_SQ_SISTEMA`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=147 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `falha_desvio`\n--\n\nDROP TABLE IF EXISTS `falha_desvio`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `falha_desvio` (\n  `FADE_SQ_FALHA_DESVIO` int(11) NOT NULL AUTO_INCREMENT,\n  `FADE_TX_FALHA_DESVIO` varchar(255) DEFAULT NULL,\n  `FADE_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  PRIMARY KEY (`FADE_SQ_FALHA_DESVIO`)\n) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `falha_equipamento`\n--\n\nDROP TABLE IF EXISTS `falha_equipamento`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `falha_equipamento` (\n  `FAEQ_SQ_FALHA_EQUIPAMENTO` int(11) NOT NULL AUTO_INCREMENT,\n  `EQUI_SQ_EQUIPAMENTO` int(11) NOT NULL,\n  `AREA_SQ_AREA` int(11) DEFAULT NULL,\n  `FAEQ_NM_TIPO` tinyint(1) DEFAULT NULL,\n  `FAEQ_TX_COMENTARIO` text,\n  `FAEQ_TX_ANEXO` varchar(255) DEFAULT NULL,\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  PRIMARY KEY (`FAEQ_SQ_FALHA_EQUIPAMENTO`),\n  KEY `FK_FAEQ_EQUI` (`EQUI_SQ_EQUIPAMENTO`),\n  KEY `FK_FAEQ_AREA` (`AREA_SQ_AREA`),\n  KEY `FK_FAEQ_BOLE` (`BOLE_SQ_BOLETIM`),\n  CONSTRAINT `FK_FAEQ_AREA` FOREIGN KEY (`AREA_SQ_AREA`) REFERENCES `area` (`AREA_SQ_AREA`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_FAEQ_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_FAEQ_EQUI` FOREIGN KEY (`EQUI_SQ_EQUIPAMENTO`) REFERENCES `equipamento` (`EQUI_SQ_EQUIPAMENTO`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=2956 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `gestao_mudanca`\n--\n\nDROP TABLE IF EXISTS `gestao_mudanca`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `gestao_mudanca` (\n  `GEMU_SQ_GESTAO_MUDANCA` int(11) NOT NULL AUTO_INCREMENT,\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  `GEMU_TX_NUMERO_GM` varchar(200) DEFAULT NULL,\n  `GEMU_TX_DESCRICAO` text,\n  `GEMU_TX_OBSERVACAO` text,\n  `USER_SQ_USER` int(11) DEFAULT NULL,\n  PRIMARY KEY (`GEMU_SQ_GESTAO_MUDANCA`),\n  KEY `FK_BOLE_GEMU` (`BOLE_SQ_BOLETIM`),\n  KEY `FK_GEMU_USER` (`USER_SQ_USER`),\n  CONSTRAINT `FK_BOLE_GEMU` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_GEMU_USER` FOREIGN KEY (`USER_SQ_USER`) REFERENCES `user_safs` (`USER_SQ_USER`) ON DELETE SET NULL ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=765 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `gestao_mudanca_checklist`\n--\n\nDROP TABLE IF EXISTS `gestao_mudanca_checklist`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `gestao_mudanca_checklist` (\n  `GEMC_SQ_CHECKLIST` int(11) NOT NULL AUTO_INCREMENT,\n  `GEMC_TX_ITEM` varchar(255) NOT NULL,\n  `GEMC_NM_POSICAO` int(2) DEFAULT NULL,\n  `GEMC_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  `GMCT_SQ_TITULO` int(11) NOT NULL,\n  PRIMARY KEY (`GEMC_SQ_CHECKLIST`),\n  KEY `GEMC_GMCT` (`GMCT_SQ_TITULO`),\n  CONSTRAINT `GEMC_GMCT` FOREIGN KEY (`GMCT_SQ_TITULO`) REFERENCES `gestao_mudanca_chk_titulo` (`GMCT_SQ_TITULO`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `gestao_mudanca_chk_titulo`\n--\n\nDROP TABLE IF EXISTS `gestao_mudanca_chk_titulo`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `gestao_mudanca_chk_titulo` (\n  `GMCT_SQ_TITULO` int(11) NOT NULL AUTO_INCREMENT,\n  `GMCT_TX_TITULO` varchar(255) NOT NULL,\n  `GMCT_NM_POSICAO` int(2) DEFAULT NULL,\n  `GMCT_CD_STATUS` tinyint(1) DEFAULT \'1\',\n  PRIMARY KEY (`GMCT_SQ_TITULO`)\n) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `gestao_mudanca_resposta`\n--\n\nDROP TABLE IF EXISTS `gestao_mudanca_resposta`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `gestao_mudanca_resposta` (\n  `GEMC_SQ_CHECKLIST` int(11) NOT NULL,\n  `GEMU_SQ_GESTAO_MUDANCA` int(11) NOT NULL,\n  `GMRE_CD_CHECK` tinyint(1) DEFAULT NULL,\n  PRIMARY KEY (`GEMC_SQ_CHECKLIST`,`GEMU_SQ_GESTAO_MUDANCA`),\n  KEY `GMRE_GEMU` (`GEMU_SQ_GESTAO_MUDANCA`),\n  CONSTRAINT `GMRE_GEMC` FOREIGN KEY (`GEMC_SQ_CHECKLIST`) REFERENCES `gestao_mudanca_checklist` (`GEMC_SQ_CHECKLIST`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `GMRE_GEMU` FOREIGN KEY (`GEMU_SQ_GESTAO_MUDANCA`) REFERENCES `gestao_mudanca` (`GEMU_SQ_GESTAO_MUDANCA`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `incidente_acidente`\n--\n\nDROP TABLE IF EXISTS `incidente_acidente`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `incidente_acidente` (\n  `INAC_SQ_INCIDENTE_ACIDENTE` int(11) NOT NULL AUTO_INCREMENT,\n  `AREA_SQ_AREA` int(11) NOT NULL,\n  `INAC_CD_DESVIO` tinyint(1) DEFAULT NULL COMMENT \'1=ACIDENTE;2=INCIDENTE\',\n  `INAC_TX_COMENTARIO` text,\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  PRIMARY KEY (`INAC_SQ_INCIDENTE_ACIDENTE`),\n  KEY `FK_INAC_AREA` (`AREA_SQ_AREA`),\n  KEY `FK_INAC_BOLE` (`BOLE_SQ_BOLETIM`),\n  CONSTRAINT `FK_INAC_AREA` FOREIGN KEY (`AREA_SQ_AREA`) REFERENCES `area` (`AREA_SQ_AREA`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_INAC_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=275 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `manutencao`\n--\n\nDROP TABLE IF EXISTS `manutencao`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `manutencao` (\n  `MANU_SQ_MANUTENCAO` int(11) NOT NULL AUTO_INCREMENT,\n  `EQUI_SQ_EQUIPAMENTO` int(11) NOT NULL,\n  `AREA_SQ_AREA` int(11) DEFAULT NULL COMMENT \'1=PREVENTIVA;2=CORRETIVA;3=PREDITIVA\',\n  `MANU_NM_CLASSE` tinyint(1) DEFAULT NULL,\n  `MANU_TX_NUMOM` varchar(100) DEFAULT NULL,\n  `MANU_TX_COMENTARIO` text,\n  `BOLE_SQ_BOLETIM` int(11) NOT NULL,\n  `MANU_TX_ANEXO` varchar(255) DEFAULT NULL,\n  PRIMARY KEY (`MANU_SQ_MANUTENCAO`),\n  KEY `FK_MANU_EQUI` (`EQUI_SQ_EQUIPAMENTO`),\n  KEY `FK_MANU_AREA` (`AREA_SQ_AREA`),\n  KEY `FK_MANU_BOLE` (`BOLE_SQ_BOLETIM`),\n  CONSTRAINT `FK_MANU_AREA` FOREIGN KEY (`AREA_SQ_AREA`) REFERENCES `area` (`AREA_SQ_AREA`) ON DELETE SET NULL ON UPDATE CASCADE,\n  CONSTRAINT `FK_MANU_BOLE` FOREIGN KEY (`BOLE_SQ_BOLETIM`) REFERENCES `boletim` (`BOLE_SQ_BOLETIM`) ON DELETE CASCADE ON UPDATE CASCADE,\n  CONSTRAINT `FK_MANU_EQUI` FOREIGN KEY (`EQUI_SQ_EQUIPAMENTO`) REFERENCES `equipamento` (`EQUI_SQ_EQUIPAMENTO`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=8515 DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n\n--\n-- Table structure for table `manutencao_falha_desvio`\n--\n\nDROP TABLE IF EXISTS `manutencao_falha_desvio`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `manutencao_falha_desvio` (\n  `MANU_SQ_MANUTENCAO` int(11) NOT NULL,\n  `FADE_SQ_FALHA_DESVIO` int(11) NOT NULL,\n  PRIMARY KEY (`MANU_SQ_MANUTENCAO`,`FADE_SQ_FALHA_DESVIO`),\n  KEY `FK_MAFD_FADE` (`FADE_SQ_FALHA_DESVIO`),\n  CONSTRAINT `FK_MAFD_FADE` FOREIGN KEY (`FADE_SQ_FAL